<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="true">

<testsuites>
    <testsuite name="SystemTests">
        <file>./System/ApiGetReportMetadataTest.php</file>
        <file>./System/OneVisitorTwoVisitsTest.php</file>
        <!--
        <file>./System/OneVisitorTwoVisitsWithCookieSupportTest.php</file>
        <file>./System/PeriodIsRangeDateIsLastNMetadataAndNormalAPITest.php</file>
        <file>./System/PivotByQueryParamTest.php</file>
        <file>./System/PurgeDataTest.php</file>
        <file>./System/RawLogDaoTest.php</file>
        <file>./System/RowEvolutionTest.php</file>
        <file>./System/SimulateAutoIncrementIntegerOverflowTest.php</file>
        <file>./System/SiteSearchTest.php</file>
        <file>./System/TimezonesTest.php</file>
        <file>./System/TrackCustomVariablesAndCampaignsForceUsingVisitIdNotHeuristicsTest.php</file>
        <file>./System/TrackerResponseTest.php</file>
        <file>./System/TrackerTest.php</file>
        <file>./System/TrackerWindowLookBackTest.php</file>
        <file>./System/TrackGoalsAllowMultipleConversionsPerVisitTest.php</file>
        <file>./System/TrackGoalsOneConversionPerVisitTest.php</file>
        <file>./System/TransitionsTest.php</file>
        <file>./System/TwoVisitorsTwoWebsitesDifferentDaysArchivingDisabledTest.php</file>
        <file>./System/TwoVisitorsTwoWebsitesDifferentDaysConversionsTest.php</file>
        <file>./System/TwoVisitorsTwoWebsitesDifferentDaysTest.php</file>
        <file>./System/TwoVisitsWithCustomVariablesSegmentContainsTest.php</file>
        <file>./System/TwoVisitsWithCustomVariablesSegmentMatchALLNoGoalDataTest.php</file>
        <file>./System/TwoVisitsWithCustomVariablesSegmentMatchNONETest.php</file>
        <file>./System/TwoVisitsWithCustomVariablesSegmentMatchVisitorTypeTest.php</file>
        <file>./System/TwoVisitsWithCustomVariablesTest.php</file>
        <file>./System/UrlNormalizationTest.php</file>
        <file>./System/UserIdAndVisitorIdTest.php</file>
        <file>./System/VisitsInPastInvalidateOldReportsTest.php</file>
        -->

        <!--        <directory>../../plugins/*/tests</directory>
        <directory>../../plugins/*/Test</directory>
        <exclude>../../plugins/*/tests/Integration</exclude>
        <exclude>../../plugins/*/Test/Integration</exclude>
        <exclude>../../plugins/*/tests/Unit</exclude>
        <exclude>../../plugins/*/Test/Unit</exclude>-->
    </testsuite>
    <testsuite name="IntegrationTests">
        <directory>./Integration</directory>
        <directory>../../plugins/*/tests/Integration</directory>
        <directory>../../plugins/*/Test/Integration</directory>
    </testsuite>
    <testsuite name="UnitTests">
        <directory>./Unit</directory>
        <directory>../../plugins/*/tests/Unit</directory>
        <directory>../../plugins/*/Test/Unit</directory>
    </testsuite>
    <testsuite name="PluginTests">
        <directory>../../plugins/*/tests</directory>
        <directory>../../plugins/*/Test</directory>
    </testsuite>
    <testsuite name="CoreTests">
        <directory>./Unit</directory>
        <directory>./Integration</directory>
        <directory>./System</directory>
    </testsuite>
</testsuites>

<filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">../../core</directory>
        <directory suffix=".php">../../plugins</directory>
        <exclude>
            <directory suffix=".php">../../core/Updates</directory>
            <directory suffix=".php">../../plugins/Example*</directory>
            <directory suffix=".php">../../plugins/SecurityInfo*</directory>
            <directory suffix=".php">../../plugins/*/Updates</directory>
            <directory suffix=".php">../../plugins/*/libs</directory>
            <directory suffix=".php">../../plugins/*/tests</directory>
            <directory suffix=".php">../../plugins/*/Test</directory>
        </exclude>
    </whitelist>
</filter>

</phpunit>
