<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="true">

<testsuites>
    <testsuite name="SystemTests">
        <file>tests/PHPUnit/System/AnnotationsTest.php</file>
        <file>tests/PHPUnit/System/ApiGetReportMetadataTest.php</file>
        <file>tests/PHPUnit/System/ApiGetReportMetadataYearTest.php</file>
        <file>tests/PHPUnit/System/ArchiveCronTest.php</file>
        <file>tests/PHPUnit/System/ArchiveInvalidationTest.php</file>
        <file>tests/PHPUnit/System/ArchiveWebTest.php</file>
        <file>tests/PHPUnit/System/AutoSuggestAPITest.php</file>
        <file>tests/PHPUnit/System/BackwardsCompatibility1XTest.php</file>
        <file>tests/PHPUnit/System/BlobReportLimitingTest.php</file>
        <file>tests/PHPUnit/System/CliMultiTest.php</file>
        <file>tests/PHPUnit/System/CsvExportTest.php</file>
        <file>tests/PHPUnit/System/CustomEventsTest.php</file>
        <file>tests/PHPUnit/System/DuplicateActionsTest.php</file>
        <file>tests/PHPUnit/System/EcommerceOrderWithItemsTest.php</file>
        <file>tests/PHPUnit/System/EnvironmentValidationTest.php</file>
        <file>tests/PHPUnit/System/ExternalScriptsTest.php</file>
        <file>tests/PHPUnit/System/FlattenReportsTest.php</file>
        <file>tests/PHPUnit/System/FrontControllerTest.php</file>
        <file>tests/PHPUnit/System/ImportLogsTest.php</file>
        <file>tests/PHPUnit/System/LabelFilterTest.php</file>
        <file>tests/PHPUnit/System/ManyVisitorsOneWebsiteTest.php</file>
        <file>tests/PHPUnit/System/MultipleSitesArchivingTest.php</file>
        <file>tests/PHPUnit/System/NonUnicodeTest.php</file>
        <file>tests/PHPUnit/System/NoVisitTest.php</file>
        <file>tests/PHPUnit/System/OneVisitorLongUrlsTruncatedTest.php</file>
        <file>tests/PHPUnit/System/OneVisitorNoKeywordSpecifiedTest.php</file>
        <file>tests/PHPUnit/System/OneVisitorOneWebsiteSeveralDaysDateRangeArchivingTest.php</file>
        <file>tests/PHPUnit/System/OneVisitorOneWebsiteSeveralDaysDateRangeTest.php</file>
        <file>tests/PHPUnit/System/OneVisitorSeveralDaysImportedInRandomOrderTest.php</file>
        <file>tests/PHPUnit/System/OneVisitorTwoVisitsTest.php</file>
        <!--
        <file>tests/PHPUnit/System/OneVisitorTwoVisitsWithCookieSupportTest.php</file>
        <file>tests/PHPUnit/System/PeriodIsRangeDateIsLastNMetadataAndNormalAPITest.php</file>
        <file>tests/PHPUnit/System/PivotByQueryParamTest.php</file>
        <file>tests/PHPUnit/System/PurgeDataTest.php</file>
        <file>tests/PHPUnit/System/RawLogDaoTest.php</file>
        <file>tests/PHPUnit/System/RowEvolutionTest.php</file>
        <file>tests/PHPUnit/System/SimulateAutoIncrementIntegerOverflowTest.php</file>
        <file>tests/PHPUnit/System/SiteSearchTest.php</file>
        <file>tests/PHPUnit/System/TimezonesTest.php</file>
        <file>tests/PHPUnit/System/TrackCustomVariablesAndCampaignsForceUsingVisitIdNotHeuristicsTest.php</file>
        <file>tests/PHPUnit/System/TrackerResponseTest.php</file>
        <file>tests/PHPUnit/System/TrackerTest.php</file>
        <file>tests/PHPUnit/System/TrackerWindowLookBackTest.php</file>
        <file>tests/PHPUnit/System/TrackGoalsAllowMultipleConversionsPerVisitTest.php</file>
        <file>tests/PHPUnit/System/TrackGoalsOneConversionPerVisitTest.php</file>
        <file>tests/PHPUnit/System/TransitionsTest.php</file>
        <file>tests/PHPUnit/System/TwoVisitorsTwoWebsitesDifferentDaysArchivingDisabledTest.php</file>
        <file>tests/PHPUnit/System/TwoVisitorsTwoWebsitesDifferentDaysConversionsTest.php</file>
        <file>tests/PHPUnit/System/TwoVisitorsTwoWebsitesDifferentDaysTest.php</file>
        <file>tests/PHPUnit/System/TwoVisitsWithCustomVariablesSegmentContainsTest.php</file>
        <file>tests/PHPUnit/System/TwoVisitsWithCustomVariablesSegmentMatchALLNoGoalDataTest.php</file>
        <file>tests/PHPUnit/System/TwoVisitsWithCustomVariablesSegmentMatchNONETest.php</file>
        <file>tests/PHPUnit/System/TwoVisitsWithCustomVariablesSegmentMatchVisitorTypeTest.php</file>
        <file>tests/PHPUnit/System/TwoVisitsWithCustomVariablesTest.php</file>
        <file>tests/PHPUnit/System/UrlNormalizationTest.php</file>
        <file>tests/PHPUnit/System/UserIdAndVisitorIdTest.php</file>
        <file>tests/PHPUnit/System/VisitsInPastInvalidateOldReportsTest.php</file>
        -->

        <!--        <directory>../../plugins/*/tests</directory>
        <directory>../../plugins/*/Test</directory>
        <exclude>../../plugins/*/tests/Integration</exclude>
        <exclude>../../plugins/*/Test/Integration</exclude>
        <exclude>../../plugins/*/tests/Unit</exclude>
        <exclude>../../plugins/*/Test/Unit</exclude>-->
    </testsuite>
    <testsuite name="IntegrationTests">
        <directory>./Integration</directory>
        <directory>../../plugins/*/tests/Integration</directory>
        <directory>../../plugins/*/Test/Integration</directory>
    </testsuite>
    <testsuite name="UnitTests">
        <directory>./Unit</directory>
        <directory>../../plugins/*/tests/Unit</directory>
        <directory>../../plugins/*/Test/Unit</directory>
    </testsuite>
    <testsuite name="PluginTests">
        <directory>../../plugins/*/tests</directory>
        <directory>../../plugins/*/Test</directory>
    </testsuite>
    <testsuite name="CoreTests">
        <directory>./Unit</directory>
        <directory>./Integration</directory>
        <directory>./System</directory>
    </testsuite>
</testsuites>

<filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">../../core</directory>
        <directory suffix=".php">../../plugins</directory>
        <exclude>
            <directory suffix=".php">../../core/Updates</directory>
            <directory suffix=".php">../../plugins/Example*</directory>
            <directory suffix=".php">../../plugins/SecurityInfo*</directory>
            <directory suffix=".php">../../plugins/*/Updates</directory>
            <directory suffix=".php">../../plugins/*/libs</directory>
            <directory suffix=".php">../../plugins/*/tests</directory>
            <directory suffix=".php">../../plugins/*/Test</directory>
        </exclude>
    </whitelist>
</filter>

</phpunit>
